<div class="main">

  <div *ngIf="alert.show" class="alert alert-{{alert.type}}">
    <div class="message"> {{ alert.message }} </div>
    <div class="close"><button (click)="setAlert('', '', false)"> x </button></div>
  </div>

  <div class="panier">

    <div class="jours" *ngFor="let jour of joursSemaine">
      <h4> Plats commandés pour {{ jour.name }} : </h4>

      <div class="plat" *ngFor="let platJour of getPlatByJours(jour.name)">
        <h6> Nom : {{ platJour.label }}  </h6>
        <h6> Prix : {{ platJour.priceDF | currency: 'EUR' }} </h6>
        <button (click)="removeCartItem(platJour.id)" class="button"> Supprimer </button>
      </div>

    </div>

    <div class="total">
      <h1> Total de la commande : {{ cardBalance | currency: 'EUR' }} </h1>
      <button *ngIf="userLogged() || adminLogged()" (click)="confirmOrder()"> Valider la commande </button>
    </div>
  </div>
</div>

