<p>plat-semaine works!</p>
<div class="addPlat">
    <label for="">Nom du plat</label>
    <input type="text">
</div>
<div class="semaine">


    <div class="jours" *ngFor="let Jours of JoursSemaine">
        <h2>{{Jours.name}}</h2>
        <div>
            <label for="">Plat 1</label>
            <select>
                <option>test</option>
                <option>test</option>
                <option>test</option>
            </select>
        </div>
        <div>
            <label for="">Plat 1</label>
            <select>
                <option>test</option>
                <option>test</option>
                <option>test</option>
            </select>
        </div>
    </div>
</div>
