<div class="addPlat">
  <form (submit)="addMenu()">
    <label> Nom du plat </label>
    <input type="text" name="label" [(ngModel)]="newmenu.label">
    <label> Prix </label>
    <input type="number" name="prixDF" [(ngModel)]="newmenu.priceDF">
    <button> Ajouter un plat </button>
  </form>
</div>

<div class="semaine">

  <div class="jours" *ngFor="let Jours of JoursSemaine">
    <h2> {{ Jours.name }} </h2>

    <div>
      <label> Plat 1 </label>
      <select>
        <option *ngFor="let menu of menus"> {{ menu.label }} </option>
      </select>
    </div>

    <div>
      <label> Plat 2 </label>
      <select>
        <option *ngFor="let menu of menus"> {{ menu.label }} </option>
      </select>
    </div>
  </div>

  <button> Valider </button>
</div>
