<p class="works"> u-list-component works! </p>   <!-- A SUPPRIMER + class "works" ds .css -->

<table mat-table [dataSource]="userList" class="mat-elevation-z8">

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  <!-- Firstnames column -->
  <ng-container matColumnDef="firstname">
    <th mat-header-cell *matHeaderCellDef> Prénom </th>
    <td mat-cell *matCellDef="let element"> {{ element.firstname }} </td>
  </ng-container>

  <!-- Lastnames column -->
  <ng-container matColumnDef="lastname">
    <th mat-header-cell *matHeaderCellDef> Nom </th>
    <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
  </ng-container>

  <!-- Email addresses column -->
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> Email </th>
    <td mat-cell *matCellDef="let element"> {{ element.email }} </td>
  </ng-container>

  <!-- User's details access column -->
  <ng-container matColumnDef="details" stickyEnd>
    <th mat-header-cell *matHeaderCellDef> Détails du compte </th>
    <td mat-cell *matCellDef="let element">
      <a [routerLink]="['edit',element.id]"><mat-icon> visibility </mat-icon></a>
    </td>
  </ng-container>

</table>
