<p>configuration works!</p>
<form #f="ngForm" name="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="">Nombre limite de plat:</label>
        <input type="text" name="nbrPlat" [(ngModel)]="constraint.maximumOrderPerDay" #nbrPlat="ngModel">
    </div>
    <div class="form-group">
        <label for="">Heure limite pour passer commande:</label>
        <input type="text"name="hours" [(ngModel)]="constraint.hours">
        <label for=""> H</label>
        <input type="text" name="minute" [(ngModel)]="constraint.minute" >
    </div>
    <div class="form-group">
        <button>Valider</button>
    </div>
</form>
