<p class="works"> Carte-component works! </p>   <!-- A SUPPRIMER + class "works" ds .css -->

<mat-tab-group>
  <mat-tab *ngFor="let categorie of categories" label="{{ categorie.name }}">

    <div>
      <form (ngSubmit)="onSubmitAddMeal(categorie.id)">
        <input type="text" placeholder="Designation" name="label" [(ngModel)]="form.label">
        <input type="text" placeholder="Prix" name="price" [(ngModel)]="form.priceDF">
        <button> Ajouter un article - {{ categorie.id }} </button>
      </form>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th colspan="2"> Designation </th>
          <th colspan="2"> Prix </th>
          <th colspan="2"> </th>
          <th colspan="2"> </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let menu of getMealByCategory(categorie.id)">
          <td> {{ menu.label }} </td>
          <td> {{ menu.priceDF | currency:'EUR' }} </td>
          <td><button (click)="deleteMeal(menu.id)"> Supprimer </button></td>
        </tr>
      </tbody>
    </table>

  </mat-tab>
</mat-tab-group>
