.works {
  font-weight: bolder;
  background-color: yellow;
} 

.main {
  padding-left: 5%;
  padding-right: 5%;
}

.semaine {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.jours {
  min-width: 600px;
}
