<div class="main">
  <p class="works"> Edit-component works ! </p>   <!-- A SUPPRIMER + class "works" ds .css -->

  <div class="userInfo">
    <div class="info">

      <div class="item">
        <label for="prenom"> Prénom : 
          <input type="text"  [(ngModel)]="userInfo.firstname" name="firstname" id="firstname"> 
        </label>
      </div>

      <div class="item">
        <label for="nom"> Nom :
          <input type="text" [(ngModel)]="userInfo.name" name="name" id="name"> 
        </label>
      </div>

      <div class="item">
        <label for="email"> Adresse mail : 
          <input type="text" [(ngModel)]="userInfo.email" name="email" id="email">
        </label>
      </div>

      <div class="item">
        <label for="pwd"> Mot de passe : 
          <input type="text" value="****" disabled>
        </label>
        <button (click)="showPasswordChange()"> Modifier <mat-icon> forward </mat-icon></button>
      </div>

      <div class="pass" *ngIf="showPassword">
        <input type="text" placeholder="Ancien mot de passe">
        <input type="text" placeholder="Nouveau mot de passe">
        <input type="text" placeholder="Confirmation du mot de passe">
      </div>

      <div class="button">
        <button routerLink="/auth/user" (click)="editUser()"> Valider mes modifications </button>
      </div>

    </div>
  </div>
</div>
