<form (ngSubmit)="onSubmit()">

  <div class="form_error" *ngIf="alerte">
    User not found
  </div>


  <div class="group">
    <label for="email">Email</label>
    <input type="text" id="email" placeholder="Adresse email" [(ngModel)]="form.email" name="email">
  </div>
  <div class="group">
    <label for="password">Password</label>
    <input type="password" id="password" placeholder="*********" [(ngModel)]="form.password" name="password">
  </div>
  <div class="group">
    <button>Se connecter</button>
    <button (click)="openDialogRegister()">Créer un compte</button>
  </div>
  <div class="group">
    <button (click)="close()">Annuler</button>
    <button (click)="openDialogPassword()">Mot de passe oublié</button>
  </div>
</form>
