.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #a29e9e;
}
.nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px;
}
.container{
  padding-left: 13rem;
  padding-right: 13rem;
}