<header>

  <nav class="nav">
    <ul>
      <!-- <li><a [routerLink]="['/platSemaine']">Plat de la semaine</a></li>
      <li><a [routerLink]="['/home']">Carte</a></li>
      <li><a [routerLink]="['auth/user']" *ngIf="tokenService.isLoggedAsUser()">Mon compte</a></li>  -->
      <li><a routerLink="/platSemaine" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"> Plat de la semaine </a></li>
      <li><a routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"> Carte </a></li>
      <li><a *ngIf="userLogged()" routerLink="auth/user" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"> Mon compte </a></li>
    </ul>

    <div >
      <button (click)="openDialogLogin()" *ngIf="!userLogged() && !adminLogged()"> Se connecter </button>
      <button (click)="logout()" *ngIf="userLogged() || adminLogged()"> Se déconnecter </button>
      <button disabled *ngIf="userLogged() || adminLogged()"> Bonjour {{ firstname }} ! </button>
      <button routerLink="/panier" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"> Panier ({{ countCartProducts() }})</button>
    </div>
  </nav>
</header>

<div class="container">
  <router-outlet></router-outlet>
</div>
