<div class="main">
    <p>mon-compte works!</p>
    <div class="userInfo">
        <div class="info">
            <div class="item">
                <label for="">Prénom : </label>
                <span>{{userInfo.firstname}}</span>
            </div>
            <div class="item">
                <label for="">Nom : </label>
                <span>{{userInfo.name}}</span>
            </div>
            <div class="item">
                <label for="">Addresse mail : </label>
                <span>{{userInfo.email}}</span>
            </div>

        </div>
        <div class="cagnotte">
            <button>Cagnotte : {{userInfo.wallet}} €</button>
        </div>
    </div>
    <div class="commandes">
        <h4 class="commande_title">Commande en cours :</h4>
        <table class="tableau">
            <tr>
                <th>Company</th>
                <th>Contact</th>
                <th>Country</th>
            </tr>
            <tr>
                <td>Alfreds Futterkiste</td>
                <td>Maria Anders</td>
                <td>Germany</td>
            </tr>
            <tr>
                <td>Centro comercial Moctezuma</td>
                <td>Francisco Chang</td>
                <td>Mexico</td>
            </tr>

        </table>
    </div>
    <div class="actions">
        <button>Modifier mes infos</button>
        <button>Supprimer mon compte</button>
    </div>
</div>
